@model IEnumerable<TheStarWarsProject.Models.Character>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="select-sort-attributes">
    <select onchange="onSelectChange(this)">
        <option value="">Trier par ...</option>
        <option value="name">Nom</option>
        <option value="height">Taille</option>
        <option value="mass">Masse</option>
        <option value="movies">Nombre de films</option>
    </select>
</div>

<ul class="box">
    @foreach (var item in Model)
    {
        var films = item.Films.Length;
        <li class="characterCard">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <ul id="character-attributes">
                <li class="name">
                    Nom: <span class="value">@Html.DisplayFor(modelItem => item.Name)</span>
                </li>
                <li class="height">
                    Taille: <span class="value">@Html.DisplayFor(modelItem => item.Height)</span>
                </li>
                <li class="mass">
                    Masse: <span class="value">@Html.DisplayFor(modelItem => item.Mass)</span>
                </li>
                <li class="movies">
                    Nombre de films: <span class="value">@Html.DisplayFor(modelItem => films)</span>
                </li>
            </ul>
        </li>
    }
</ul>
